<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav class="col-1" id="nav" >Nav</nav>
  <div class="col-2">
  	<header id="header">Header</header>
    <main class="content">
      <article>         
        <button type="button" class="btn btn-primary">
          Single Button
        </button>       
        <h1>titulo1</h1>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos esse aut tempora mollitia beatae, obcaecati similique nesciunt voluptatem magnam ab temporibus cum rerum enim voluptatibus doloribus, quod tenetur, error quia!
        <h1>titulo2</h1>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam obcaecati officiis, unde nemo soluta debitis autem molestiae magni? Quibusdam eligendi ea enim porro, tenetur provident quas molestias suscipit aliquid asperiores.
        <h1>titulo3</h1>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam obcaecati officiis, unde nemo soluta debitis autem molestiae magni? Quibusdam eligendi ea enim porro, tenetur provident quas molestias suscipit aliquid asperiores.
        <p>titulo4</p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos esse aut tempora mollitia beatae, obcaecati similique nesciunt voluptatem magnam ab temporibus cum rerum enim voluptatibus doloribus, quod tenetur, error quia!
        <h1>titulo5</h1>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam obcaecati officiis, unde nemo soluta debitis autem molestiae magni? Quibusdam eligendi ea enim porro, tenetur provident quas molestias suscipit aliquid asperiores.
        <h1>titulo6</h1>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam obcaecati officiis, unde nemo soluta debitis autem molestiae magni? Quibusdam eligendi ea enim porro, tenetur provident quas molestias suscipit aliquid asperiores.
      </article>      
    </main>  	
    <footer id="footer">Footer</footer>
  </div>
</body>
</html>


<!-- <router-outlet></router-outlet> -->
